<section class="container-fluid" data-ng-controller="HomeController">

<div class="container">
<div id="sidebar-wrapper" class="sidebar-toggle">

	<ul class="sidebar-nav">

		<div class="sidebar-heading">Menus</div>

    	<li ng-repeat="menu in menus" ng-class="menu.active" class="sidebaritem">
      		<a href="" ng-click="showmenu($index)">{{menu.name}}</a>
      	</li>
  	</ul>
</div>
</div>
<div ng-repeat="menu in menus" ng-hide="$index != menuitem">

<div class="row whiter">

<div class="col-md-7 col-md-offset-2">

<h1>Customise Menu</h1><hr>

	<div ng-repeat="option in menu.options">

			<accordion close-others="oneAtATime">
			<accordion-group>
			<accordion-heading editable-text="option.text">

			<span class="index">{{$index +1}}.</span>{{option.text}}

			<span class="pull-right">

				<span ng-show="option.action == 'redirect'" class="glyphicon glyphicon-earphone"></span>
				<span ng-show="option.action == 'submenu'" class="glyphicon glyphicon-list"></span>
				<span ng-show="option.action == 'voicemail'" class="glyphicon glyphicon-volume-up"></span>
				<span ng-show="option.action == 'text'" class="glyphicon glyphicon-font"></span>

			</span>

			</accordion-heading>
			Action: 

			<span ng-controller="SelectLocalCtrl">
			  <a href="#" editable-select="option.action" e-ng-options="s.value as s.text for s in statuses">
			    {{ option.action }}
			  </a>
			</span><br><br>

			<span ng-show="option.action == 'redirect'">Phone Number: <span editable-text="option.phonenumber">{{option.phonenumber}}</span></span>

			<span ng-show="option.action == 'text'">Text: <span editable-text="option.text">{{option.text}}</span></span>

			<span ng-show="option.action == 'submenu'">

				<div ng-repeat="suboption in option.options">

			      <span class="index">{{$index+1}}.</span><span editable-text="suboption.text">{{suboption.text}}</span><br>

			      Action: <span ng-controller="SelectLocalCtrl"><a href="#" editable-select="suboption.action" e-ng-options="t.value as t.text for t in statuses">
				    {{ suboption.action }}</a></span><br>
				  <span ng-show="suboption.action == 'redirect'">Phone Number: <span editable-text="suboption.phonenumber">{{suboption.phonenumber}}</span></span>

					<span ng-show="suboption.action == 'text'">Text: <span editable-text="suboption.text">{{suboption.text}}</span></span><br><br>

			    </div>

		    </span>

		    </accordion-group>
		    </accordion>
	</div>

</div>

</div>

</div>


</div>

<div class="col-md-2"></div>

</section>
